@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');

:root{
    --black: #0D0F15;
    --grey: #181A21;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--black);
    font-size: 62.5%;
}
/* Start of the Header */
.container-header{
    width: 100%;
    height: 30%;
    display: flex;
    padding: 6rem 8rem;
    justify-content: space-between;
}

.name{
    font-size: 3.5rem;
    font-family: 'Uncial Antiqua', cursive;
    letter-spacing: 2px;
    color: white;
}

.headernavlist{
    list-style: none;
    display: flex;
    gap: 6rem;
}

.headerbutton{
    text-decoration: none;
    
    color: white;
}

.header-link{
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'poppins';
}

.icon{
    display: none;
}

@media screen and (max-width:950px) {
    .headernavlist li{
        display: none;
    }
    .icon{
        display: block;
        position: absolute;
        top: 10;
        right: 0;
        float: right;
        color: white;
        font-size: 2.5rem;
        background-color: transparent;
    }
}

@media screen and (max-width:950px) {
    .container-header{
        justify-content: space-between;
        padding: 2rem 2rem 0rem 2rem;
        flex-direction: column;
    }
    .headernavlist.responsive{
        position: relative;
        flex-direction: column;
        gap: 2rem;
    }
    .headernavlist.responsive li:not(:last-child){
        display: block;
        text-align: left;
        float: none;    
    }
    .headernavlist.responsive a.icon{
        position: absolute;
        float: right;
        top: 0;
        right: 0;
        background-color: transparent;
        

    }
}
/* End of the Header */

/* Start of the eye catcher page */
.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 80vh;
    justify-items: center;
    align-items: center;
}

.home-child1{
    width: 100%;
    height: 80%;
    display: flex;
    
    
    flex-direction: column;
    padding-left: 8rem;
    
}

.home-child2{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;

    
}

.big-text{
    font-size: 7rem;
    color: white;
    padding: 0;
    margin: 0;
    background: none;
    font-family: 'Syne', sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.tiny-text{
    font-size: 2.5rem;
    color: white;
   padding: 0;
   margin: 0;
   background-color: transparent;
   background: none;
    font-family: 'syne', sans-serif;
}

.smaller-text{
    font-size: 1.5rem;
    
    font-family: 'syne', sans-serif;
    color: #868A9B;
    margin: 2rem 0 0 0;
}

.smaller-text1{
    font-size: 1.5rem;
    font-family: 'syne', sans-serif;
    color: #868A9B;
    margin: 0 0 0 0;
}

.dw-button{
    width: 35%;
    font-size: 1.5rem;
    display: inline-flex;
    border: solid 0.2rem white;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 5rem;
    font-family: 'syne', sans-serif;
    margin-top: 5rem;
    font-weight: normal;
}

.dw-icon{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.img-container{
    width: 50rem;
    height: 50rem;
}

.imgrich{
    width: 50rem;
    height: 50rem;
}  
/* End of the Eye Catcher Page */

/* Start of the Tiny Section */

.tiny-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 25vh;
    background-color: var(--grey);
    align-items: center;
    text-align: center;
    
}

.tiny-section-child{
    background-color: var(--grey);

}

.tiny-section-child:first-child{
    padding-left: 2rem;
}